{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalDecorators": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "semi": 0
  }
}