.layout {
  .horizontal,
  .horizontal--reverse,
  .vertical,
  .vertical--reverse {
    display: flex;
  }

  .inline {
    display: inline-flex;
  }

  .horizontal {
    flex-direction: row;
  }

  .horizontal--reverse {
    flex-direction: row-reverse;
  }

  .vertical {
    flex-direction: column;
  }

  .vertical--reverse {
    flex-direction: column-reverse;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .wrap--reverse {
    flex-wrap: wrap-reverse;
  }

  .start {
    align-items: start;
  }

  .end {
    align-items: end;
  }

  .justified {
    justify-content: space-between;
  }

  .center--justified,
  .center--center {
    justify-content: center;
  }

  .end--justified {
    justify-content: flex-end;
  }

  .around--justified {
    justify-content: space-around;
  }
}
.flex--auto {
  flex: 1 1 auto;
}

.flex--none {
  flex: none;
}

.flex,
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.flex-11 {
  flex: 11;
}
.flex-12 {
  flex: 12;
}

.self--start {
  align-self: flex-start;
}

.self--center {
  align-self: center;
}

.self--end {
  align-self: flex-end;
}

.self--stretch {
  align-self: stretch;
}

.block {
  display: block;
}

[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.relative {
  position: relative;
}

.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body.fullbleed {
  margin: 0;
  height: 100vh;
}

.scroll {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.fixed--bottom,
.fixed--left,
.fixed--right,
.fixed--top {
  position: fixed;
}

.fixed-top {
  top: 0;
  left: 0;
  right: 0;
}

.fixed-right {
  top: 0;
  right: 0;
  bottom: 0;
}

.fixed-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.fixed-left {
  top: 0;
  bottom: 0;
  left: 0;
}