@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import 'layout';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  transform: rotate3d(0,0,1,-90deg) translate3d(-768px,0,0);
  transform-origin: 0 0;

  border: 0; margin: 0; padding: 0;
}

html,
body {
  height: 1024px;
  width: 768px;
  overflow: hidden;
}

body {
  color: #333;
  font-family: "Ubuntu", sans-serif;
}

.screen {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  background-image: url('/assets/background-sprite.jpg');
  background-repeat: no-repeat;

  &.screen-1 {
    background-position: 0 0;
  }

  &.screen-2 {
    background-position: 0 50%;
  }

  &.screen-3 {
    background-position: 0 75%;
  }

  &.screen-4 {
    background-position: 0 100%;
  }
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.widget {
  background-color: rgba(255,255,255,0.65);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;

  height: calc(100% - 2rem);
  overflow: hidden;
}

.twitter {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1.5rem;
  }

  .tweet {
    display: flex;

    border-bottom-color: rgba(255,255,255,0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    h2 {
      font-size: 1.2rem;
    }

    .twitter-media {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.logo {
  display: block;
  text-indent: -9000px;
  background-size: cover;
  background-repeat: no-repeat;

  &.logo-twitter {
    background-image: url('/assets/twitter.svg');
    width: 200px;
    height: 37px;
  }
}
