// @import 'settings';
// @import 'foundation';
@import 'layout';

// @include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  transform: rotate3d(0,0,1,-90deg) translate3d(-768px,0,0);
  transform-origin: 0 0;

  border: 0; margin: 0; padding: 0;
}

html,
body {
  height: 1024px;
  width: 768px;
  overflow: hidden;

  color: white;
}

.screen {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  background-image: url('/assets/background-sprite.jpg');
  background-repeat: no-repeat;

  &.screen-1 {
    background-position: 0 0;
  }

  &.screen-2 {
    background-position: 0 50%;
  }

  &.screen-3 {
    background-position: 0 75%;
  }

  &.screen-4 {
    background-position: 0 100%;
  }
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}